* {
    font-family: monospace;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #111;
}

#board {
    width: calc(2em * var(--x));
    background-color: white;
    display: grid;
    grid-template-rows: repeat(var(--y), 1fr);
    grid-template-columns: repeat(var(--x), 1fr);
    position: relative;
}

.tile {
    background-color: #E0E0E0;
    aspect-ratio: 1;
    font-size: 1.5em;
    font-weight: bold;
    border: 3px outset white;
    display: grid;
    place-items: center;
    user-select: none;
}

.flipped {
    border: 0.5px solid white;
}

#timer {
    position: absolute;
    top: -1.25em;
    left: 0;
    color: white;
    margin: 0;
    font-size: 2em;
}

#button {
    position: absolute;
    height: 1.5em;
    top: -1.5em;
    right: 0;
}

#seeddiv {
    position: absolute;
    top: 0;
    left: 0;
}
